# Projeto de Análise de Canais de Minecraft no Youtube 
Usando um ambiente virtual

## 0. Passo (Opcional)
### Iniciar o Ambiente virtual
no terminal:

        python -m venv venv

        .\venv\Scripts\Activate.ps1

## 1. Instalar bibliotecas necessárias
- google-api-python-client
- pandas
- jupyter (este que estamos usando)

        pip install google-api-python-client
        pip install pandas
        pip install jupyter

- Iniciar o Notebook jupyter

        jupyter notebook

## 2. Pegar os resultados do Youtube usando a API do Google

In [50]:
from googleapiclient.discovery import build
import pandas as pd

In [ ]:
api_key = 'AIzaSyCj0uUvQOM9wt82ueAT16BdeXMz2itc97M'
youtube = build('youtube', 'v3', developerKey=api_key)

id_canal = ['UCiIZY89KwQkxAW-4Le7U7zg', # Viccius13
            'UCtKndmEnQyqkhOQfpi5CgvQ', # Davi
            'UCIPA6iWNaoetaa1T46RkzXw', # AuthenticGames
            'UCoulj9DH4WTKlwrjWbGIJbQ', # Jackinho
            'UCTkXRDQl0luXxVQrRQvWS6w', # Dream
            'UCcn0BFXHCtkqJl8CAPDj9og', # Forever
            'UC3n5Elz1cR2lr8qF43sgZMg', # S0ldierBr
            ]

### 2.1 Criar um função para pegar as estatisticas do canal

In [63]:
def status_canal(youtube, id_canal):
    request = youtube.channels().list(
        part='snippet,contentDetails,statistics',
        id=','.join(id_canal)
    )
    # trás todas as informações de snippet, contenDetails e statistics
    response = request.execute()
    data = []
    # Selecionar as informações quero do JSON de cada elemento
    for i in range(len(response['items'])):
        info_util = dict(nome = response['items'][i]['snippet']['title'],
                        views = response['items'][i]['statistics']['viewCount'],
                        subs = response['items'][i]['statistics']['subscriberCount'],
                        videos = response['items'][i]['statistics']['videoCount'])
        data.append(info_util)

    return data

### 2.2 Coletar a informação chamando a função

In [64]:
dados = status_canal(youtube, id_canal)

### 2.3 Exportar esses dados para o Power BI como uma tabela.

In [65]:
tabelaDados = pd.DataFrame(dados)

In [66]:
tabelaDados

             nome       views      subs videos
0           Dream  2936082195  31500000    116
1            Davi   255721008   2660000    567
2       S0ldierBr   117472861    642000   2616
3  AuthenticGames  8910388952  20100000   4909
4  Forever Player   560212332   2970000   1428
5     viniccius13   914902440   5980000    513
6         Jakinho    96054775    648000    194